<template>
  <div id="app">
    <MyHeader/>
    <my-section1/>
    <MyFooter/>
  </div>
</template>

<script>


import MyHeader from "@/components/MyHeader.vue";
import MyFooter from "@/components/MyFooter.vue";
import MySection1 from "@/components/MySection1.vue";

export default {
  name: 'App',
  components: {MySection1, MyFooter, MyHeader},

}
</script>

<style scoped lang="scss">

</style>
